tray-login {

    svg {
        fill: currentColor;
        float: left;
        height: 15px;
        margin-right: 11px;
        padding: 0;
        width: 15px;
    }

    .tray-input-group {
        display: block;
        margin-bottom: 11px;
        position: relative;

        &.row {

            .tray-label{
                left: 27px;
            }
        }
    }

    .tray-input {
        background: $input-bg;
        border: 1px solid $input-bd;
        border-radius: 3px;
        color: $input-focus-txt;
        display: block;
        font-size: 14px;
        font-weight: 300;
        height: 47px;
        line-height: 14px;
        padding: 13px 0 14px 36px !important;
        width: 100%;

        &:focus {
            outline: none;
            border-color: $input-focus-bd;
            border-width: 2px;
            color: $input-focus-txt;
            & + .tray-label {
                color: $input-txt;
            }
        }

        &:valid {
            & + .tray-label{
                color: $input-focus-txt;
                height: 15px;
                width: 15px;
                overflow: hidden;
            }

            &:not(.empty) ~ .tray-icon-checked {
                opacity: 1;
            }
        }

        &:not(.empty) {
            &:invalid {
                border-color: $input-error-bd;
                color: $input-error-txt;

                & ~ .tray-label svg {
                    fill: $input-error-txt;
                }
            }
        }

        &.empty:not([required]) + .tray-label {
            color: $input-txt;
            width: auto !important;
            height: auto !important;
        }

    }

    .tray-label {
        left: 12px;
        height: 15px;
        position: absolute;
        top: 16px;
    }

    .tray-login-hide-password {
        border: 0;
        background-color: transparent;
        color: $input-txt;
        display: none;
        font-size: 10px;
        height: 25px;
        margin: 0;
        padding: 0;
        position: absolute;
        outline-width: 0;
        right: 10px;
        top: 12px;
        text-transform: uppercase;
    }

    .empty {
        border-color: $input-bd;
        color: $input-txt;
    }

    .tray-icon-checked {
        position: absolute;
        right: 0;
        top: 15px;
        fill: $btn-next-bg;
        opacity: 0;
        transition: all ease 500ms;
    }
}
