.tray-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.tray-input-group {
    display: block;
    margin-bottom: 11px;
    position: relative;

    .tray-label {
        left: 12px;
        height: 15px;
        position: absolute;
        top: 16px;

        svg {
            fill: currentColor;
            float: left;
            height: 15px;
            margin-right: 11px;
            padding: 0;
            width: 15px;
        }
    }

    &.row .tray-label {
        left: 27px;
    }
}

.tray-input {
    background: $input-bg;
    border: 1px solid $input-bd;
    border-radius: 3px;
    color: $input-focus-txt;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 47px;
    line-height: 14px;
    padding: 13px 0 14px;
    text-indent: 36px;
    width: 100%;

    &:focus {
        outline: none;
        border-color: $input-focus-bd;
        border-width: 2px;
        color: $input-focus-txt;
    }

    &.tray-input-no-icon {
        text-indent: 13px;
    }
}

select.tray-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background: $input-bg url('/img/icons/down.svg') calc(100% - 15px) center no-repeat;
    background-size: 10px;
}

.tray-label {
    color: $input-txt;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

.tray-input:focus + .tray-label {
    color: $input-txt;
}

.tray-input:valid + .tray-label,
.tray-input:not(.empty) + .tray-label {
    color: $input-focus-txt;
    height: 15px;
    width: 15px;
    overflow: hidden;
}

.tray-input.empty:not([required]) + .tray-label {
    color: $input-txt;
    width: auto !important;
    height: auto !important;
}

.tray-input:not(.empty):invalid {
    border-color: $input-error-bd;
    color: $input-error-txt;

    & + .tray-label {
        color: $input-error-txt;
    }
}

.tray-input-invalid {
    border-color: $input-error-bd;
    color: $input-error-txt;

    & ~ .tray-label {
        color: $input-error-txt;
    }
}

.tray-input ~ .message,
.tray-input ~ .tray-error-message {
    color: $input-error-txt;
}

.tray-input-disabled {
    background-color: #efefef;
    padding-left: 5px;
    padding-right: 5px;
}

