tray-login .tray-input-group {
    display: block;
    margin-bottom: 11px;
    position: relative;
}

tray-login .tray-input-group.row .tray-label {
    left: 27px;
}

    tray-login .tray-input-group .tray-label {
        left: 12px;
        height: 15px;
        position: absolute;
        top: 16px;
    }

    tray-login .tray-input-group .tray-label svg {
        fill: currentColor;
        float: left;
        height: 15px;
        margin-right: 11px;
        padding: 0;
        width: 15px;
    }

tray-login .tray-input {
    background: $input-bg;
    border: 1px solid $input-bd;
    border-radius: 3px;
    color: $input-focus-txt;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 47px;
    line-height: 14px;
    padding: 13px 0 14px;
    text-indent: 36px;
    width: 100%;
}

tray-login .tray-input:focus {
    outline: none;
    border-color: $input-focus-bd;
    border-width: 2px;
    color: $input-focus-txt;
}

tray-login .tray-label {
    color: $input-txt;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

tray-login .tray-input:focus + .tray-label {
    color: $input-txt;
}

tray-login .tray-input:valid + .tray-label,
tray-login .tray-input:not(.empty) + .tray-label {
    color: $input-focus-txt;
    height: 15px;
    width: 15px;
    overflow: hidden;
}

tray-login .tray-input.empty:not([required]) + .tray-label {
    color: $input-txt;
    width: auto !important;
    height: auto !important;
}

tray-login .tray-input:not(.empty):invalid {
    border-color: $input-error-bd;
    color: $input-error-txt;
}

tray-login .tray-input:not(.empty):invalid + .tray-label {
    color: $input-error-txt;
}

tray-login .tray-input-invalid {
    border-color: $input-error-bd;
    color: $input-error-txt;
}

tray-login .tray-input-invalid ~ .tray-label {
    color: $input-error-txt;
}

tray-login .tray-login-hide-password {
    border: 0;
    background-color: transparent;
    color: $input-txt;
    display: none;
    font-size: 10px;
    height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    outline-width: 0;
    right: 10px;
    top: 12px;
    text-transform: uppercase;
}
