tray-login {
    .tray-vspace-sm {
        margin-bottom: 10px !important;
    }

    .tray-vspace-md {
        margin-bottom: 15px !important;
    }

    .tray-vspace-lg {
        margin-bottom: 25px !important;
    }

    .tray-vspace-xlg {
        margin-bottom: 45px !important;
    }
}
