tray-login .ch-vspace-sm {
    margin-bottom: 10px !important;
}

tray-login .ch-vspace-md {
    margin-bottom: 15px !important;
}

tray-login .ch-vspace-lg {
    margin-bottom: 25px !important;
}

tray-login .ch-vspace-xlg {
    margin-bottom: 45px !important;
}
