/**
 * Base
 */
polyfill-next-selector { content: 'tray-login, tray-login *'; }
:host,
:host * {
    color: #909090;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 14px;
}

polyfill-next-selector { content: 'tray-login::before'; }
:host::before {
    background: #191919;
    background: rgba(0, 0, 0, .7);
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

polyfill-next-selector { content: 'tray-login .tray-login-screens'; }
:host .tray-login-screens {
    display: none;
}

polyfill-next-selector { content: 'tray-login *'; }
:host * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

polyfill-next-selector { content: 'tray-login .tray-container'; }
:host .tray-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .7);
    width: 292px;
    position: absolute;
    left: calc(50% - 146px);
    top: calc(50% - 150px);
    padding: 12px;
    z-index: 9999;
}

    polyfill-next-selector { content: 'tray-login .tray-close'; }
    :host .tray-close {
        background: #fff;
        border: 2px solid #bababa;
        border-radius: 50%;
        color: #bababa;
        cursor: pointer;
        float: right;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        padding: 0;
        margin: 0;
        height: 21px;
        width: 21px;
    }

    polyfill-next-selector { content: 'tray-login .tray-title'; }
    :host .tray-title {
        color: #8f8f8f;
        font-weight: 900;
        font-size: 19px;
        margin-top: 23px;
        margin-bottom: 25px;
    }

    polyfill-next-selector { content: 'tray-login .tray-action'; }
    :host .tray-action {
        font-size: 14px;
        margin-bottom: 15px;
    }

    /**
     * Well
     */
    polyfill-next-selector { content: 'tray-login .tray-well'; }
    :host .tray-well {
        background-color: #ebebeb;
        border-radius: 3px;
        border: 1px solid #efeded;
        color: #8f8f8f;
        margin-bottom: 11px;
        padding: 15px 10px;
        text-align: center;
    }

    /**
     * Messages
     */
    polyfill-next-selector { content: 'tray-login .tray-error-message'; }
    :host .tray-error-message {
        color: $input-error-txt;
    }

    /**
     * Buttons
     */
    polyfill-next-selector { content: 'tray-login .tray-btn-primary, tray-login .tray-btn-default, tray-login .tray-btn-facebook, tray-login .tray-btn-otp'; }
    :host .tray-btn-primary,
    :host .tray-btn-default,
    :host .tray-btn-facebook,
    :host .tray-btn-otp {
        background: #4cd9c0;
        display: block;
        width: 100%;
        height: 48px;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid #62c0b0;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 13px;
        padding: 0;
    }

    polyfill-next-selector { content: 'tray-login .tray-btn-facebook'; }
    :host .tray-btn-facebook {
        background-color: #3b5998;
        border-bottom-color: #243f77;
    }

    polyfill-next-selector { content: 'tray-login .tray-btn-otp'; }
    :host .tray-btn-otp {
        background-color: #52447c;
        border-bottom-color: #3d3160;
        font-size: 13px;
    }

    polyfill-next-selector { content: 'tray-login .tray-btn-default, tray-login .tray-btn-default:hover, tray-login .tray-btn-default:active'; }
    :host .tray-btn-default,
    :host .tray-btn-default:hover,
    :host .tray-btn-default:active {
        background-color: #fff;
        border: 1px solid #d3d1d1;
        border-bottom-width: 3px;
        color: #bcbcbc;
    }

    polyfill-next-selector { content: 'tray-login .tray-btn-primary, tray-login .tray-btn-primary:hover, tray-login .tray-btn-primary:active, tray-login .tray-btn-facebook, tray-login .tray-btn-facebook:hover, tray-login .tray-btn-facebook:active, tray-login .tray-btn-otp, tray-login .tray-btn-otp:hover, tray-login .tray-btn-otp:active'; }
    :host .tray-btn-primary,
    :host .tray-btn-primary:hover,
    :host .tray-btn-primary:active,
    :host .tray-btn-facebook,
    :host .tray-btn-facebook:hover,
    :host .tray-btn-facebook:active,
    :host .tray-btn-otp,
    :host .tray-btn-otp:hover,
    :host .tray-btn-otp:active {
        color: #fff;
        text-decoration: none;
    }
