/**
 * Base
 */




// Transitions
tray-login a,
tray-login a:hover,
tray-login a:focus,
tray-login input,
tray-login input:hover,
tray-login input:focus,
tray-login select,
tray-login select:hover,
tray-login select:focus,
tray-login label,
tray-login label:hover,
tray-login div,
tray-login button,
tray-login button:hover,
tray-login button:focus,
tray-login svg,
tray-login svg:hover {
    transition: all .3s linear;
}

tray-login {
    &::before {
        background: #191919;
        background: rgba(0, 0, 0, .5);
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9998;
    }

    .tray-login-screens {
        display: none;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #909090;
        font-family: Lato, Helvetica, sans-serif;
        font-size: 14px;
    }

    .tray-container {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, .5);
        width: 292px;
        position: fixed;
        left: calc(50% - 146px);
        top: calc(50% - 150px);
        padding: 12px;
        z-index: 9999;
    }

    // Close element
    .tray-close {
        background: #fff;
        border: 2px solid #bababa;
        border-radius: 50%;
        color: #bababa;
        cursor: pointer;
        float: right;
        font-weight: bold;
        font-size: 12px;
        line-height: 1;
        padding: 0;
        margin: 0;
        height: 21px;
        width: 21px;
    }

    .tray-title {
        color: #8f8f8f;
        font-weight: 900;
        font-size: 19px;
        margin-top: 23px;
        margin-bottom: 25px;
    }

    .tray-action {
        font-size: 14px;
        margin-bottom: 15px;
    }

    // Well
    .tray-well {
        background-color: #ebebeb;
        border-radius: 3px;
        border: 1px solid #efeded;
        color: #8f8f8f;
        margin-bottom: 11px;
        padding: 15px 10px;
        text-align: center;
    }

    // Messages
    .tray-error-message {
        color: $input-error-txt;
    }

    .tray-error-message strong {
        color: $input-error-txt;
    }

    // Alerts
    .tray-general-error-alert {
        color: $input-error-txt;
    }

    // Buttons
    .tray-btn-primary,
    .tray-btn-default,
    .tray-btn-facebook,
    .tray-btn-otp {
        background: $btn-next-bg;
        display: block;
        width: 100%;
        height: 48px;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid $btn-next-bd;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 13px;
        padding: 0;

        &:hover {
            background: darken($btn-next-bg, 10%);
            border-color: darken($btn-next-bd, 10%);
        }
    }



    .tray-btn-facebook {
        background-color: #3b5998;
        border-bottom-color: #243f77;

        &:hover {
            background-color: darken(#3b5998, 10%);
            border-color: darken(#243f77, 10%);
        }
    }

    .tray-btn-otp {
        background-color: #52447c;
        border-bottom-color: #3d3160;
        font-size: 13px;

        &:hover {
            background-color: darken(#52447c, 10%);
            border-color: darken(#3d3160, 10%);
        }
    }

    .tray-btn-default,
    .tray-btn-default:hover,
    .tray-btn-default:active {
        background-color: #fff;
        border: 1px solid #d3d1d1;
        border-bottom-width: 3px;
        color: #bcbcbc;
    }

    .tray-btn-primary,
    .tray-btn-primary:hover,
    .tray-btn-primary:active,
    .tray-btn-facebook,
    .tray-btn-facebook:hover,
    .tray-btn-facebook:active,
    .tray-btn-otp,
    .tray-btn-otp:hover,
    .tray-btn-otp:active {
        color: #fff;
        text-decoration: none;
    }
    .tray-btn-hidden{
        display: none;
    }
}
