// main colors
$white: #fff;
$green: #4cd9c0;
$gray: #ebebeb;

// body
$body-bg: $white;
$body-txt: #8f8f8f;

// forms
$input-bd: #e0dcdc;
$input-bg: $white;
$input-txt: #c7c7c7;
$input-focus-bd: #c0c0c0;
$input-focus-txt: #909090;
$input-error-bd: #f3989c;
$input-error-txt: #ef6262;

$label-txt: #909090;

// buttons
$btn-back-bg: $white;
$btn-back-bd: #d3d1d1;
$btn-back-txt: #bcbcbc;

$btn-next-bg: #4cd9c0;
$btn-next-bd: #62c0b0;
$btn-next-txt: $white;

$btn-facebook-bg: #3b5998;
$btn-facebook-bd: #243f77;

$btn-masterpass-bg: #383744;
$btn-masterpass-bd: #070709;
