// buttons
$btn-back-bg: $white;
$btn-back-bd: #d3d1d1;
$btn-back-txt: #bcbcbc;

$btn-next-bg: #6ABF57;
$btn-next-bd: #539E41;
$btn-next-txt: $white;

$btn-facebook-bg: #3b5998;
$btn-facebook-bd: #243f77;

tray-login {
    .tray-btn-primary,
    .tray-btn-default,
    .tray-btn-facebook,
    .tray-btn-otp {
        background: $btn-next-bg;
        display: block;
        color: #fff;
        cursor: pointer;
        width: 100%;
        height: 48px;
        border-radius: 3px;
        border: none;
        border-bottom: 3px solid $btn-next-bd;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 0;

        &:hover {
            background: darken($btn-next-bg, 10%);
            border-color: darken($btn-next-bd, 10%);
        }
    }

    .tray-btn-facebook {
        background-color: #3b5998;
        border-bottom-color: #243f77;

        &:hover {
            background-color: darken(#3b5998, 10%);
            border-color: darken(#243f77, 10%);
        }
    }

    .tray-btn-default {
        color: #bcbcbc;
        background-color: #fff;
        border: 1px solid #d3d1d1;
        border-bottom-width: 3px;

        &:hover {
            background-color: darken(#fff, 5%);
            border-color: darken(#d3d1d1, 10%);
        }
    }

    .tray-btn-otp {
        background-color: #52447c;
        border-bottom-color: #3d3160;
        font-size: 13px;

        &:hover {
            background-color: darken(#52447c, 5%);
            border-bottom-color: darken(#3d3160, 10%);
        }
    }

    .tray-close {
        background: #fff;
        border: 2px solid #bababa;
        border-radius: 50%;
        color: #bababa;
        cursor: pointer;
        float: right;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        padding: 3px 4px;
        margin: 0;
        height: 21px;
        width: 21px;
    }
}
