// Main colors
$white: #FFFFFF;
$green: #6ABF57;
$blue: #4A6FD0;
$red: #FF5858;
$yellow: #FFF3CD;
$gray: #666666;
$black: #000000;

// Body
$default-color: $gray;
$active-color: $green;
$danger-color: $red;

// Spaces
$default-margin: 10px;
$default-gutter: 12px;
