// Main colors
$white: #fff;
$green: #6abf57;
$red: #ff5858;
$gray: #909090;
$black: #000;

// Body
$default-color: $gray;
$active-color: $green;
$danger-color: $red;

// Spaces
$default-margin: 10px;
$default-gutter: 10px;
