.app {
    &__customer-password-change {

        &__form {
            position: relative;
            display: flex;
            flex-direction: column;

            &__group {
                margin-bottom: 20px;
            }
        }

        &__input {
            flex-grow: 2;
            margin-bottom: 15px;
        }

        &__validation-rules {
            font-size: 15px;
            color: #8f8f8f;
            padding: 6px;

            &__list {
                &__item {
                    font-weight: normal;

                    .app__icon--rules {
                        display: contents;
                         svg {
                            transform: scale(1.3);
                            margin-right: 3px;
                         }
                    }
                }
            }
        }

        &__actions {
            margin-top: 10px;
        }

        &__errors {
            margin-top: 3px;
            font-size: 11px;
            color: #FF5858;
        }

        &__border {
            border-color: #FF5858;
            &:focus {
                box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
            }
        }

        &__toggle-visibility {
            background-color: #FFFFFF;
            display: contents;

            .app__icon {
                position: absolute;
                color: #8F8F8F;
                right: 25px;
                height: 20px;
                width: 20px;
                padding: 2px;
                z-index: 2;
                top: 6px;
            }
        }
    }
}